extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="username", name="username")
        br
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        br
        input#inputMessage(type="text", placeholder="message", name="message")
        br
